<div class="game-container flex flex-col h-screen bg-gradient-to-b from-indigo-900 to-purple-900 text-white">
  <.game_header match_status={@match_status} time_remaining={@time_remaining} />

  <div class="game-arena flex-grow flex relative">
    <div class="player-side w-1/2 flex flex-col border-r border-indigo-700">
      <.player_header 
        player={@current_player} 
        title="YOU" 
        bg_color="bg-blue-900" 
        text_color="text-blue-300" 
      />
      
      <.word_container 
        words={@words} 
        word_statuses={@word_statuses} 
        current_target_word={@current_target_word} 
        color_class="bg-blue-800 hover:bg-blue-700"
        header_color="text-blue-300" 
      />
    </div>
    
    <div class="opponent-side w-1/2 flex flex-col">
      <.player_header 
        player={@opponent} 
        title="OPPONENT" 
        bg_color="bg-red-900" 
        text_color="text-red-300" 
      />
      
      <.word_container 
        words={@words} 
        word_statuses={%{}} 
        color_class="bg-red-800"
        header_color="text-red-300" 
      />
    </div>
    
    <.central_input
      current_target_word={@current_target_word}
      current_input={@current_input}
      match_status={@match_status}
      current_player={@current_player}
      opponent={@opponent}
    />
    
    <.advantage_indicators
      current_player={@current_player}
      opponent={@opponent}
    />
  </div>
  
  <.countdown_bar
    match_status={@match_status}
    time_remaining={@time_remaining}
  />
  
  <.waiting_overlay match_status={@match_status} />
  
  <.match_result
    match_status={@match_status}
    is_winner={@is_winner}
    is_draw={@is_draw}
    winner_message={@winner_message || ""}
    your_score={@your_score}
    opponent_score={@opponent_score}
  />
  
  <.sound_effects />
</div>
